body {
	padding-left: 50%;
	font-family: 'Georgia';
}

#query {
	text-align: center;
	font-style: italic;
}

#wrapper {
	margin-left: -400px;
	width: 800px;
}

h1 {
	text-align: center;
	font-style: italic;
}

#resultsTable,
#requestsTable{
	width: 100%;
}

#requestsTable td.time{
	text-align: right;
}
