body {
	font-family: Baskerville, georgia, serif;
}

#resultsTable,
#requestsTable {
	width: 100%;
	table-layout: fixed;
}

#resultsTable tr:hover {
	background-color: yellow;
}

.artist,
.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#resultsTable .artist { width: 50% }
#resultsTable .title { width: 50% }

#requestsTable .by { width: 10% }
#requestsTable .artist { width: 40% }
#requestsTable .title { width: 40% }
#requestsTable .time { width: 10% }

#requestsTable .time {
	text-align: right;
}

#queryBar {
	margin-left: 30%;
	margin-right: 30%;
}

#queryField {
	width: 100%;
	border: 0;
	text-align: center;
}

#wrapper {
	width: 800px;
}

h1 {
	font-style: italic;
	text-align: center;
}
