body {
	/* Thank you, Rob (rbmntjs.nl) */
	font-family: Baskerville, Garamond, Palatino,
			"Palatino Linotype", "Times New Roman",
			Times, serif;
}

#footer {
	text-align: right;
	font-style: italic;
	font-size: smaller;
	color: gray;
	border-top: 1px solid white;
	padding-top: 1em;
}

#resultsTable,
#requestsTable {
	width: 100%;
	table-layout: fixed;
}

#resultsTable {
	border-collapse: collapse;
}
#resultsTable td {
	padding-top: 2px;
	padding-bottom: 2px;
}

#resultsTable tr:hover {
	background-color: yellow;
}

.artist,
.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#resultsTable .artist { width: 50% }
#resultsTable .title { width: 50% }

#requestsTable .by { width: 10% }
#requestsTable .artist { width: 40% }
#requestsTable .title { width: 40% }
#requestsTable .time { width: 10% }

#requestsTable .time {
	text-align: right;
}

#queryBar {
	margin-left: 30%;
	margin-right: 30%;
}

#queryField {
	width: 100%;
	text-align: center;
}

#wrapper {
	width: 800px;
}

h1 {
	font-style: italic;
	font-weight: normal;
}

div.growlUI h1 {
	text-align: center;
}
